/*.o
/*.d
/*.libdeps

# Coverage data
/*.gcno
/*.gcda

/librealm-objc.a
/librealm-objc.so
/librealm-objc.so.*
/librealm-objc.dylib
/librealm-objc.*.dylib
/librealm-objc-dbg.a
/librealm-objc-dbg.so
/librealm-objc-dbg.so.*
/librealm-objc-dbg.dylib
/librealm-objc-dbg.*.dylib
/librealm-objc-cov.so
/librealm-objc-cov.so.*
/librealm-objc-cov.dylib
/librealm-objc-cov.*.dylib

/librealm-objc-iPhoneOS.a
/librealm-objc-iPhoneOS-dbg.a
/librealm-objc-iPhoneSimulator.a
/librealm-objc-iPhoneSimulator-dbg.a

/librealm-objc-ios.a
/librealm-objc-ios-dbg.a
