*~
.DS_Store

# sh build.sh config
/config

# sh build.sh test
/employees.tightdb
/table_test.tightdb

/doc/ref/*.html

# sh build.sh build-iphone
/iphone-lib/include
/iphone-lib/libtightdb-objc-ios.a
/iphone-lib/libtightdb-objc-ios-dbg.a
