*.suo
TightDb/TightDb.xcodeproj/project.xcworkspace/xcuserdata/*
TightDb/TightDb.xcodeproj/xcuserdata/*
TightDbExample/TightDbExample.xcodeproj/project.xcworkspace/xcuserdata/*
TightDbExample/TightDbExample.xcodeproj/xcuserdata/*
