<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacTightDb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TightDb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TightDbTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9ED3DCB153D7F9100EC1460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9ED3DDD153D7F9100EC1460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FFD252153C774C00719326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FFD262153C774C00719326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
