<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testArrayKVOIndexHandlingInsertCompact</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44623</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testArrayKVOIndexHandlingInsertSparse</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46951</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testArrayKVOIndexHandlingRemoveBackwards</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25049</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:47:05 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testArrayKVOIndexHandlingRemoveForward</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28008</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:47:05 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransaction</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25529</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithCrossThreadNotification</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3805</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithListNotification</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.014152</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithLocalNotification</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3356</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithResultsNotification</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024311</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
				</dict>
			</dict>
			<key>testCountWhereQuery</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.068142</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereTableView</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.079563</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCrossThreadSyncLatency</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5036</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testDeleteAll</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.057373</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAll</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021611</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAllSlow</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.032911</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayProperty</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024657</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayPropertySlow</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029516</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessQuery</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013916</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateAll</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.085535</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:47:05 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateQuery</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022362</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:47:05 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testIndexedStringLookup</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064675</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultiple</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11286</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultipleLiteral</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.22709</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:47:05 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertSingleLiteral</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.62334</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testLargeINQuery</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.020886</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testManualDeletion</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.54088</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryConstruction</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061729</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryDeletion</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099315</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationCached</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.30414</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationUncached</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.6515</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmFileCreation</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.8914</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testSortingAllObjects</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017391</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 11:39:35 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testUnIndexedStringLookup</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.060121</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 11:11:55 AM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
