<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>classNames</key>
 <dict>
   <key>PerformanceTests</key>
   <dict>
     <key>testArrayKVOIndexHandlingInsertCompact</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.32691</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingInsertSparse</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.27606</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingRemoveBackwards</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.24281</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingRemoveForward</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.26714</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransaction</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.23385</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithCrossThreadNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>1.1877</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithListNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.014699</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithLocalNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>1.1827</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithResultsNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.025275</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCountWhereQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.069509</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCountWhereTableView</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.072526</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCrossThreadSyncLatency</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>1.3507</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testDeleteAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.065435</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.022628</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessAllSlow</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.025589</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessArrayProperty</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.022196</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessArrayPropertySlow</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.02866</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.012512</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndMutateAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.095107</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndMutateQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.024364</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testIndexedStringLookup</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.061875</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertMultiple</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.114</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertMultipleLiteral</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.22307</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertSingleLiteral</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.54683</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testLargeINQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.021874</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testManualDeletion</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.47608</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testQueryConstruction</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.050903</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testQueryDeletion</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.085817</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmCreationCached</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.29618</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmCreationUncached</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>5.2568</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmFileCreation</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>1.8215</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testSortingAllObjects</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.014483</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testUnIndexedStringLookup</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.061645</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:36:54 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
   </dict>
 </dict>
</dict>
</plist>
