<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>classNames</key>
 <dict>
   <key>PerformanceTests</key>
   <dict>
     <key>testArrayKVOIndexHandlingInsertCompact</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.33455</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingInsertSparse</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.35906</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingRemoveBackwards</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.57923</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testArrayKVOIndexHandlingRemoveForward</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.64841</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransaction</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.069065</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithCrossThreadNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.36435</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithListNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.056905</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithLocalNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.35081</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCommitWriteTransactionWithResultsNotification</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.061962</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCountWhereQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.29435</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCountWhereTableView</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.27236</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testCrossThreadSyncLatency</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.47796</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testDeleteAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.11475</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.077348</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessAllSlow</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.10176</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessArrayProperty</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.079459</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessArrayPropertySlow</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.10685</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndAccessQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.04714</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndMutateAll</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.11792</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testEnumerateAndMutateQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.017438</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testIndexedStringLookup</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.15732</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertMultiple</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.19128</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertMultipleLiteral</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.28787</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testInsertSingleLiteral</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.23866</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testLargeINQuery</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.053538</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testManualDeletion</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.54791</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testQueryConstruction</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.15085</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testQueryDeletion</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.16626</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmCreationCached</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.80076</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmCreationUncached</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>3.2179</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testRealmFileCreation</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>1.7743</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testSortingAllObjects</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.039965</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
     <key>testUnIndexedStringLookup</key>
     <dict>
       <key>com.apple.XCTPerformanceMetric_WallClockTime</key>
       <dict>
         <key>baselineAverage</key>
         <real>0.15588</real>
         <key>baselineIntegrationDisplayName</key>
         <string>May 11, 2016, 2:16:48 PM</string>
         <key>maxRegression</key>
         <real>0.001</real>
       </dict>
     </dict>
   </dict>
 </dict>
</dict>
</plist>
