SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator;
SKIP_INSTALL = YES;
INFOPLIST_FILE = RealmSwift/Tests/RealmSwiftTests-Info.plist;
PRODUCT_NAME = $(TARGET_NAME);
SWIFT_OBJC_BRIDGING_HEADER = RealmSwift/Tests/RealmSwiftTests-BridgingHeader.h
SWIFT_OPTIMIZATION_LEVEL = -Onone;
OTHER_SWIFT_FLAGS = -DREALM_XCODE_VERSION_$(XCODE_VERSION_MINOR);

LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks;

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = build/osx/*;
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletv*] = build/osx/*;
EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = build/ios/*;

TEST_HOST[sdk=iphone*] = $(BUILT_PRODUCTS_DIR)/TestHost.app/TestHost;
TEST_HOST[sdk=appletv*] = $(BUILT_PRODUCTS_DIR)/TestHost.app/TestHost;
TEST_HOST[sdk=macosx*] = $(BUILT_PRODUCTS_DIR)/TestHost.app/Contents/MacOS/TestHost;
