#include "../TestBase.xcconfig"

INFOPLIST_FILE = RealmSwift/Tests/RealmSwiftTests-Info.plist;
OTHER_LDFLAGS = -ObjC;
SWIFT_OBJC_BRIDGING_HEADER = RealmSwift/Tests/RealmSwiftTests-BridgingHeader.h
SWIFT_OPTIMIZATION_LEVEL = -Onone;
SWIFT_STRICT_CONCURRENCY = targeted;

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = build/osx/*;
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletv*] = build/osx/*;
EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = build/ios/*;

