<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>02FEA37F-2419-44D8-B00E-E0A4939BEDDB</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone6,2</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>7F8339ED-0034-40BF-9189-6C569D2814B7</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7s</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone5,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>A4B676B6-55C6-4B74-8D3F-AC3B2CFE23C4</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPad4,4</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
