#include "Realm.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator;
TARGETED_DEVICE_FAMILY = 1,2;
IPHONEOS_DEPLOYMENT_TARGET = 8.0;

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;

MACH_O_TYPE = mh_dylib;

ENABLE_BITCODE = YES;
OTHER_LDFLAGS = -lrealm-ios$(REALM_LIBRARY_SUFFIX);
OTHER_LIBTOOLFLAGS = -lrealm-ios$(REALM_LIBRARY_SUFFIX);

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)-dynamic;
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)-dynamic;
