#include "Realm.xcconfig"

SUPPORTED_PLATFORMS = macosx;

FRAMEWORK_VERSION = A;
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks;

MACH_O_TYPE = mh_dylib;

OTHER_LDFLAGS = -lrealm$(REALM_LIBRARY_SUFFIX);
CODE_SIGN_IDENTITY = ;
COMBINE_HIDPI_IMAGES = YES;
