SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator watchos watchsimulator appletvos appletvsimulator;
TARGETED_DEVICE_FAMILY = 1,2,3,4;

INFOPLIST_FILE = Realm/Realm-Info.plist;
MODULEMAP_FILE = $(SRCROOT)/Realm/Realm.modulemap;
PRODUCT_BUNDLE_IDENTIFIER = io.Realm.${PRODUCT_NAME:rfc1034identifier};
PRODUCT_NAME = Realm;
SKIP_INSTALL = YES;

DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath;
REALM_OBJC_MACH_O_TYPE = mh_dylib;
MACH_O_TYPE = $(REALM_OBJC_MACH_O_TYPE);
FRAMEWORK_VERSION = A;

APPLICATION_EXTENSION_API_ONLY = YES;
HEADER_SEARCH_PATHS = $(inherited) $(DERIVED_FILE_DIR);

ENABLE_BITCODE[sdk=iphone*] = YES;
ENABLE_BITCODE[sdk=watch*] = YES;
ENABLE_BITCODE[sdk=appletv*] = YES;

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=watch*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
