APPLICATION_EXTENSION_API_ONLY = YES;
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath;
FRAMEWORK_VERSION = A;
HEADER_SEARCH_PATHS = $(inherited) $(DERIVED_FILE_DIR);
INFOPLIST_FILE = Realm/Realm-Info.plist;
MACH_O_TYPE = $(REALM_MACH_O_TYPE);
MODULEMAP_FILE = $(SRCROOT)/Realm/Realm.modulemap;
PRODUCT_BUNDLE_IDENTIFIER = io.Realm.${PRODUCT_NAME:rfc1034identifier};
PRODUCT_NAME = Realm;
SKIP_INSTALL = YES;

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks;

LINKER_FLAG_MACCATALYST_YES = -framework UIKit;
LINKER_FLAG_MACCATALYST_NO = ;
OTHER_LDFLAGS = $(REALM_SYMBOLS_FLAGS) -framework UIKit;
OTHER_LDFLAGS[sdk=macosx*] = $(REALM_SYMBOLS_FLAGS) $(LINKER_FLAG_MACCATALYST_$(IS_MACCATALYST));
