#include "Realm.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator;
TARGETED_DEVICE_FAMILY = 1,2;
IPHONEOS_DEPLOYMENT_TARGET = 7.0;

MACH_O_TYPE = staticlib;
EXECUTABLE_NAME = Realm;

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)-static;
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)-static;
