#include "../TestBase.xcconfig"

INFOPLIST_FILE = Realm/Tests/RealmTests-Info.plist;
OTHER_CFLAGS = -fobjc-arc-exceptions;

SWIFT_OBJC_BRIDGING_HEADER = Realm/Tests/Swift/Swift-Tests-Bridging-Header.h;
SWIFT_OPTIMIZATION_LEVEL = -Onone;

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = InterprocessTests.m SwiftSchemaTests.swift;
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletv*] = EncryptionTests.mm InterprocessTests.m SwiftSchemaTests.swift;
EXCLUDED_SOURCE_FILE_NAMES[sdk=watch*] = *;
