#include "Realm.xcconfig"

SUPPORTED_PLATFORMS = watchos watchsimulator;
TARGETED_DEVICE_FAMILY = 4;

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;

MACH_O_TYPE = mh_dylib;

ENABLE_BITCODE = YES;
OTHER_LDFLAGS = -lrealm-watchos$(REALM_LIBRARY_SUFFIX);
OTHER_LIBTOOLFLAGS = -lrealm-watchos$(REALM_LIBRARY_SUFFIX);
