<nav class="sidebar">
  <ul class="nav-groups">
    {{#structure}}
    <li class="nav-group-name">
      <a href="{{path_to_root}}{{section}}.html">{{section}}</a>
      <ul class="nav-group-tasks">
        {{#children}}
        <li class="nav-group-task">
          <a href="{{path_to_root}}{{url}}">{{name}}</a>
        </li>
        {{/children}}
      </ul>
    </li>
    {{/structure}}
  </ul>
</nav>
