/*.o
/*.d
/*.libdeps

# Coverage data
/*.gcno
/*.gcda

/libtightdb-objc.a
/libtightdb-objc.so
/libtightdb-objc.so.*
/libtightdb-objc.dylib
/libtightdb-objc.*.dylib
/libtightdb-objc-dbg.a
/libtightdb-objc-dbg.so
/libtightdb-objc-dbg.so.*
/libtightdb-objc-dbg.dylib
/libtightdb-objc-dbg.*.dylib
/libtightdb-objc-cov.so
/libtightdb-objc-cov.so.*
/libtightdb-objc-cov.dylib
/libtightdb-objc-cov.*.dylib

/libtightdb-objc-iPhoneOS.a
/libtightdb-objc-iPhoneOS-dbg.a
/libtightdb-objc-iPhoneSimulator.a
/libtightdb-objc-iPhoneSimulator-dbg.a

/libtightdb-objc-ios.a
/libtightdb-objc-ios-dbg.a
