CLANG_CXX_LANGUAGE_STANDARD = c++14;
CLANG_CXX_LIBRARY = libc++;
CLANG_ENABLE_MODULES = YES;
CLANG_ENABLE_OBJC_ARC = YES;
CLANG_WARN_BOOL_CONVERSION = YES;
CLANG_WARN_CONSTANT_CONVERSION = YES;
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR;
CLANG_WARN_EMPTY_BODY = YES;
CLANG_WARN_ENUM_CONVERSION = YES;
CLANG_WARN_INT_CONVERSION = YES;
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR;
CLANG_WARN_UNREACHABLE_CODE = YES;
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES;
ENABLE_STRICT_OBJC_MSGSEND = YES;
GCC_C_LANGUAGE_STANDARD = gnu99;
GCC_WARN_64_TO_32_BIT_CONVERSION = YES;
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES;
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR;
GCC_WARN_SIGN_COMPARE = YES;
GCC_WARN_UNDECLARED_SELECTOR = YES;
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE;
GCC_WARN_UNUSED_FUNCTION = YES;
GCC_WARN_UNUSED_PARAMETER = YES;
GCC_WARN_UNUSED_VARIABLE = YES;
HEADER_SEARCH_PATHS = $(inherited) $(DERIVED_FILE_DIR) core/include;
SWIFT_WHOLE_MODULE_OPTIMIZATION = YES;

ALWAYS_USE_SEPARATE_HEADERMAPS = YES;

MACOSX_DEPLOYMENT_TARGET = 10.9;
IPHONEOS_DEPLOYMENT_TARGET = 8.0;
WATCHOS_DEPLOYMENT_TARGET = 2.0;
CODE_SIGN_IDENTITY[sdk=iphone*] = iPhone Developer;
TARGETED_DEVICE_FAMILY = 1,2,4;

REALM_OTHER_CFLAGS[sdk=iphone*] = -fembed-bitcode;
REALM_OTHER_CFLAGS[sdk=watch*] = -fembed-bitcode;
OTHER_CFLAGS = $(inherited) $(REALM_OTHER_FLAGS);
OTHER_CPLUSPLUSFLAGS = $(inherited) -isystem core/include;
LIBRARY_SEARCH_PATHS = core;
