#include "Base.xcconfig"

COPY_PHASE_STRIP = NO;
GCC_OPTIMIZATION_LEVEL = 0;
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 REALM_DEBUG REALM_HAVE_CONFIG __ASSERTMACROS__ REALM_DISABLE_PLATFORM_CHECK;
ONLY_ACTIVE_ARCH = YES;
SWIFT_OPTIMIZATION_LEVEL = -Onone;

REALM_CORE_LD_FLAGS[sdk=macosx*] = -lrealm-dbg;
REALM_CORE_LD_FLAGS[sdk=iphone*] = -lrealm-ios-dbg;
REALM_CORE_LD_FLAGS[sdk=watch*] = -lrealm-watchos-dbg;
