#include "Base.xcconfig"

BITCODE_GENERATION_MODE = marker;
COPY_PHASE_STRIP = NO;
ENABLE_TESTABILITY = YES;
GCC_OPTIMIZATION_LEVEL = 0;
ONLY_ACTIVE_ARCH = YES;
SWIFT_OPTIMIZATION_LEVEL = -Onone;

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 REALM_DEBUG REALM_HAVE_CONFIG REALM_ENABLE_SYNC __ASSERTMACROS__;
