#include "Base.xcconfig"

// As of beta 1 dSYM generation fails with the unhelpful error "warning: could
// not find referenced DIE" (which seems to not actually be just a warning?)
DEBUG_INFORMATION_FORMAT_1400 = dwarf-with-dsym;
DEBUG_INFORMATION_FORMAT_1500 = dwarf;
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(XCODE_VERSION_MAJOR));

ENABLE_NS_ASSERTIONS = NO;
GCC_PREPROCESSOR_DEFINITIONS = REALM_HAVE_CONFIG REALM_ENABLE_SYNC __ASSERTMACROS__;
LLVM_LTO = YES_THIN;
VALIDATE_PRODUCT = YES;

REALM_HIDE_SYMBOLS = NO;
REALM_SYMBOLS_FLAGS_NO = ;
REALM_SYMBOLS_FLAGS_YES = -Xlinker -unexported_symbols_list -Xlinker Configuration/Realm/PrivateSymbols.txt;
REALM_SYMBOLS_FLAGS = $(REALM_SYMBOLS_FLAGS_$(REALM_HIDE_SYMBOLS));
