SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator;

CODE_SIGN_IDENTITY = "-";
COPY_PHASE_STRIP = NO;
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks;
INFOPLIST_FILE = Realm/Tests/TestHost/Info.plist;
PRODUCT_NAME = $(TARGET_NAME);
CLANG_MODULES_AUTOLINK = NO;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage;

PRODUCT_BUNDLE_IDENTIFIER = io.realm.TestHost;

REALM_UI_FRAMEWORK_ = Cocoa;
REALM_UI_FRAMEWORK_uikit = UIKit;

OTHER_LDFLAGS[sdk=iphone*] = -framework UIKit;
OTHER_LDFLAGS[sdk=appletv*] = -framework UIKit;
OTHER_LDFLAGS[sdk=macosx*] = -framework $(REALM_UI_FRAMEWORK_$(RESOURCES_UI_FRAMEWORK_FAMILY));

PRINCIPAL_CLASS[sdk=iphone*] = UIApplication;
PRINCIPAL_CLASS[sdk=appletv*] = UIApplication;
PRINCIPAL_CLASS[sdk=macosx*] = NSApplication;

MACOSX_DEPLOYMENT_TARGET = 11.0;
IPHONEOS_DEPLOYMENT_TARGET = 14.0;
WATCHOS_DEPLOYMENT_TARGET = 7.0;
TVOS_DEPLOYMENT_TARGET = 14.0;
