<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SwiftPerformanceTests</key>
		<dict>
			<key>testCommitWriteTransaction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23974</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithCrossThreadNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24239</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithLocalNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23388</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.070369</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereTableView()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044266</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCrossThreadSyncLatency()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3048</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testDeleteAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.054722</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
					<key>maxPercentRegression</key>
					<real>25.0</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.34834</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAllSlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.36364</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayProperty()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.35767</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayPropertySlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.4104</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15417</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.89776</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.55112</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testIndexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084706</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultiple()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16244</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultipleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19723</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertSingleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41364</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testLargeINQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21595</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testManualDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.89826</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.082673</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationCached()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21061</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testSortingAllObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1379</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:27:59 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
					<key>maxPercentRegression</key>
					<real>25.0</real>
				</dict>
			</dict>
			<key>testUnindexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078656</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 3:36:13 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
