<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SwiftPerformanceTests</key>
		<dict>
			<key>testCommitWriteTransaction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078527</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithCrossThreadNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084697</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithLocalNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078053</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28042</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereTableView()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1322</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCrossThreadSyncLatency()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44286</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testDeleteAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0597</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
					<key>maxPercentRegression</key>
					<real>25.0</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4144</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAllSlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4357</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayProperty()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4153</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayPropertySlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6332</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.77479</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.0563</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1163</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testIndexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20942</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 4:58:58 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultiple()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26334</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultipleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.34774</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertSingleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14436</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testLargeINQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.4341</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testManualDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.5129</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryConstruction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1752</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 11, 2016, 2:03:24 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11877</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationCached()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58272</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testSortingAllObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19973</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 17, 2016, 1:31:37 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
					<key>maxPercentRegression</key>
					<real>25.0</real>
				</dict>
			</dict>
			<key>testUnindexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20162</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 13, 2016, 4:58:58 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
