<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SwiftPerformanceTests</key>
		<dict>
			<key>testCommitWriteTransaction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26241</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithCrossThreadNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.27074</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCommitWriteTransactionWithLocalNotification()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2707</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.069046</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCountWhereTableView()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05102</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testCrossThreadSyncLatency()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4981</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testDeleteAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034125</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.43683</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessAllSlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47066</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayProperty()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessArrayPropertySlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.52273</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndAccessQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2415</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateAll()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.74033</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testEnumerateAndMutateQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.4148</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testIndexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099493</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultiple()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25401</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertMultipleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.29001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testInsertSingleLiteral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.49099</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testLargeINQuery()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.22316</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testManualDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.91235</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryConstruction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.076228</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testQueryDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.072784</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationCached()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23321</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testRealmCreationUncached()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.2582</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
				</dict>
			</dict>
			<key>testSortingAllObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.06945</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:55:16 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
			<key>testUnindexedStringLookup()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078901</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 12, 2016, 1:22:28 PM</string>
					<key>maxRegression</key>
					<real>0.001</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
